<ion-view view-title="Art">
  <ion-header-bar>
	
    </div>
  </ion-header-bar>
  <ion-content>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-one.jpg">
        <div id= "fontID" class="row">
          <div class="col col-50">
            <i>$100</i>
			<img class="avatar5" src="/img/add-to-cart.jpg">
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="/img/art-two.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-50 text-middle">
            <i>$200</i>	
			<img class="avatar5" src="/img/add-to-cart.jpg">
          </div>
        </div>
      </div>
    </div>
	
	<div class="row fontID" style=margin-top:-40px>
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-three.jpg">
        <div id= "fontID" class="row">
          <div class="col col-50">
            <i>$300</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="/img/art-four.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-50 text-middle">
            <i>$400</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
    </div>
	
	<div class="row fontID" style=margin-top:-40px>
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-five.jpg">
        <div id= "fontID" class="row">
          <div class="col col-50">
            <i>$500</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="/img/art-six.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-50 text-middle">
            <i>$600</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
    </div>
	
	<div class="row fontID" style=margin-top:-40px>
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-seven.jpg">
        <div id= "fontID" class="row">
          <div class="col col-50">
            <i>$700</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="/img/art-eight.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-50 text-middle">
            <i>$800</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
    </div>
	
	<div class="row fontID" style=margin-top:-40px>
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-nine.jpg">
        <div id= "fontID" class="row">
          <div class="col col-50">
            <i>$900</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="/img/art-ten.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-50 text-middle">
            <i>$1000</i>
			<img class="avatar5" src="/img/add-to-cart.jpg" style=margin-left:60px>
          </div>
        </div>
      </div>
    </div>
	
  </ion-content>
</ion-view>
