<ion-view view-title="Art">
  <ion-header-bar>
	
    </div>
  </ion-header-bar>
  <ion-content>
	<img class="artPiece" src="/img/art-one.jpg">
    <div class="row">
          <div class="fontID col col-30">
            <i>$500 [BUY]</i>
          </div>
	</div>
	<br>
	
	<div class="artPiece">
		<div class="artPiece col col-30"
			<div>
			<img class="artPiece" src="/img/art-two.jpg">
			</div>
			<div class="row">
				<div class="fontID col col-500 text-right">
				<i>$600 [BUY]</i>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
