<ion-view view-title="Art">
  <ion-header-bar>

    </div>
  </ion-header-bar>
  <ion-content>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="artPiece" src="../img/art-one.jpg">
        <div id= "fontID" class="row">
          <div class="col col-50">
            <i>$100</i>
			<img class="avatar5" src="../img/add-to-cart.jpg" style=margin-left:50px>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="../img/art-two.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-100 text-right">
            <i>$200 [BUY]</i>
          </div>
        </div>
      </div>
    </div>

	<div class="row fontID" style=margin-top:-40px>
      <div class= " fontID col col-100" >
        <img class="artPiece" src="../img/art-three.jpg">
        <div id= "fontID" class="row">
          <div class="col col-51">
            <i>$300 [BUY]</i>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="../img/art-four.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-100 text-right">
            <i>$400 [BUY]</i>
          </div>
        </div>
      </div>
    </div>

	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="artPiece" src="../img/art-five.jpg">
        <div id= "fontID" class="row">
          <div class="col col-51">
            <i>$500 [BUY]</i>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="../img/art-six.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-100 text-right">
            <i>$600 [BUY]</i>
          </div>
        </div>
      </div>
    </div>

	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="artPiece" src="../img/art-seven.jpg">
        <div id= "fontID" class="row">
          <div class="col col-51">
            <i>$700 [BUY]</i>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="../img/art-eight.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-100 text-right">
            <i>$800 [BUY]</i>
          </div>
        </div>
      </div>
    </div>

	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="artPiece" src="../img/art-nine.jpg">
        <div id= "fontID" class="row">
          <div class="col col-51">
            <i>$900 [BUY]</i>
          </div>
        </div>
      </div>
      <div class= " fontID col col-100">
			<img class="artPiece" src="../img/art-ten.jpg" align="right">
        <div id= "fontID" class="row">
          <div class="col col-100 text-right">
            <i>$1000 [BUY]</i>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
