<ion-view view-title="Artists">
	<ion-header-bar>

	</div>
	</ion-header-bar>
  <ion-content>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-one.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Brad Keller</i>
          </div>
        </div>
      </div>
	  <div class= " fontID col col-100" ui-sref="app.MarkMiller">
        <img class="avatar4" src="/img/artist-two.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Mark Miller</i>
          </div>
        </div>
      </div>
    </div>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-three.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Jack Reidner</i>
          </div>
        </div>
      </div>
	  <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-four.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Imran Khan</i>
          </div>
        </div>
      </div>
    </div>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-five.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Natalie Pell</i>
          </div>
        </div>
      </div>
	  <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-six.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Felicia Ruiz</i>
          </div>
        </div>
      </div>
    </div>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-seven.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Josh Huff</i>
          </div>
        </div>
      </div>
	  <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-eight.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Mandy Grace</i>
          </div>
        </div>
      </div>
    </div>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-nine.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Seung Cho</i>
          </div>
        </div>
      </div>
	  <div class= " fontID col col-100" >
        <img class="avatar4" src="/img/artist-ten.jpg">
        <div  class=" fontID row">
          <div class="col col-50">
            <i>Paul Stevens</i>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
