<ion-view view-title="Cart">

  <ion-content>
  <ion-content class = "">

  <div class="col cartLine" align = "center">
			<span> Cart Total: $5,500.00</span>
	</div>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img/theshop/objects-glass1.jpg" align = "center">

		</div>
	</div>
		<div class="col cartBack frontID">
		<span> Set of Glass Thimbles: [$3,000.00]</span>
              <i class=" fontID2 ion-pricetag"></i><i class="fontID"></i>
            </button>

        </div>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img/theshop/objects-claycover.jpg" align = "center">
		</div>
	</div>
	</div>
		<div class="col cartBack frontID">
		<span> Clay-Crafted Grails: [$2,500.00]</span>
              <i class=" fontID2 ion-pricetag"></i><i class="fontID"></i>
            </button>

        </div>
	<div class = "row fontID" align = "center">
			<button  class="button button-block custom-green">COMPLETE PURCHASE
			<i class=" ion-card" align = "right"></i>
			</button>
	</div>
  </ion-content>
</ion-view>
