<ion-view view-title="Cart"> 
	<ion-header-bar class="bar-energized">

	</div>
	</ion-header-bar>
  <ion-content>
  <ion-content class = "artBuy">  
  <br> 
  <br> 
  <br> 
  <br> 
  <br> 
  <br>  
  <br>
	<br> 
	<div>  
	<h1 class = "cartDisplay" align = "center"> Items in Cart</h1>
	</div>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img/theshop/2d4.jpg"> 
			
		</div>
	</div>  
		<div class="col cartBack frontID"> 
		<span> 2-Dimensional Flower Vase: [$3,000.00]</span>
              <i class=" fontID2 ion-pricetag"></i><i class="fontID"></i>
            </button>
            
        </div>
	<br>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img/theshop/objects-claycover.jpg">
		</div>
	</div>  
	</div>  
		<div class="col cartBack frontID"> 
		<span> Clay-Crafted Grails: [$2,500.00]</span>
              <i class=" fontID2 ion-pricetag"></i><i class="fontID"></i>
            </button>
            
        </div>
	<br>
	<div class = "row fontID" align = "center">
			<button ng-click="scanBarcode()" class="button button-block custom-green">COMPLETE PURCHASE</button>
	</div>
  </ion-content>
</ion-view>
