<ion-view view-title="Events">
  <ion-content>
  <div> 
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <div  class=" fontID row">
          <div class="col col-50" style="font-size: 20px">
            <i>17 Feb.</i>
		<div class="col col-100" style="margin-top: 50px">
			<i>ARTIST TALKS | CAROLYN NELSON & MARGIE STEWART </i>
		</div>
        </div>
      </div>
    </div>
	
	
	
	<!--<div class="row fontID" style="margin-top: 70" style="margin-left: 20">
      <div class= " fontID col col-100" >
        <div  class=" fontID row">
          <div class="col col-50" style="font-size: 20px">
            <i>4 Mar.</i>
          </div>
		  <div class="col col-100">
			<i>First Friday | Live Music by Lorena Guillen Tango Ensemble + Pop-Up Resident</i>
        </div>
      </div>
    </div>
	
	<div class="row fontID" style="margin-top: 70" style="margin-left: 20">
      <div class= " fontID col col-100" >
        <div  class=" fontID row">
          <div class="col col-50" style="font-size: 20px">
            <i>16 Mar.</i>
          </div>
		  <div class="col col-100">
			<i>ARTIST TALKS | DONALD MARTINY & JAMES WILLIAMS </i>
        </div>
      </div>
    </div>-->
	
  </div>
  </ion-content>
</ion-view>
