<ion-view view-title="Events">
  <ion-content>
  <div> 
	<div class="row fontID" >
	<div>
		<img src="img/event-photo-one.jpg" width="90px" style="padding-top: 5px">
	</div>
      <div class=" fontID col col-100">
        <div class=" fontID row">
          <div style="font-size: 20px">
            <b>17 February @ 5:30PM</b>
			<div">
				<div style="font-size: 18px">
					<i>ARTIST TALKS | CAROLYN NELSON & MARGIE STEWART</i>
				</div>
			</div>
			</div>
        </div>
      </div>
    </div>
	
	<div class="row fontID" >
	<div>
		<img src="img/event-photo-two.jpg" width="90px" style="padding-top: 10px">
	</div>
      <div class= " fontID col col-100">
        <div class=" fontID row">
          <div style="font-size: 20px">
            <b>4 March @ 6:00PM</b>
			<div>
				<div style="font-size: 18px">
					<i>FIRST FRIDAY | Live Music by Lorena Guillen Tango Ensemble + Pop-Up Resident </i>
				</div>
			</div>
		</div>
        </div>
      </div>
    </div>
	
	<div class="row fontID" >
	<div>
		<img src="img/event-photo-three.jpg" width="90px" height="100px" style="padding-top: 10px">
	</div>
      <div class= " fontID col col-100">
        <div class=" fontID row">
          <div style="font-size: 20px">
            <b>16 March @ 5:30PM</b>
			<div>
				<div style="font-size: 18px">
					<i>ARTIST TALKS | DONALD MARTINY & JAMES WILLIAMS </i>
				</div>
			</div>
		</div>
        </div>
      </div>
    </div>
    </div>
	
	<div class="row fontID" >
	<div>
		<img src="img/event-photo-four.jpg" width="90px" height="100px" style="padding-top: 10px">
	</div>
      <div class= " fontID col col-100">
        <div class=" fontID row">
          <div style="font-size: 20px">
            <b>17 March @ 1:00PM</b>
			<div>
				<div style="font-size: 18px">
					<i>ADULT WORKSHOP | Painting without a Paintbrush </i>
				</div>
			</div>
		</div>
        </div>
      </div>
    </div>
	
  </div>
  </ion-content>
</ion-view>
