<ion-view view-title="Exhibitions">
  <ion-content>
    <div class="row fontID" >
      <div  class= " fontID col col-100" >
        <div class="row"style="text-align: center">
          <div class = "fontID4">
            <i><span>It's All About the Hue</span></i>
          </div>
        </div>
        <img class="avatar2" src="img//hue.png">
        <div class="row">
          <div class = "fontID4" style="text-align: center">
            <b><span>January 29 - March 24, 2016</span></b>
        </div>
      </div> 
	  <div  class= " fontID col col-100" >
        <div class="row"style="text-align: center">
          <div class = "fontID4">
            <i><span>Last Remaining Cathedral</span></i>
          </div>
        </div>
        <img class="avatar2" src="img//cathedral.png">
        <div class="row">
          <div class = "fontID4" style="text-align: center">
            <b><span >April 15 - June 12, 2016</span></b>
          </div>
        </div> 
		<div  class= " fontID col col-100" >
        <div class="row"style="text-align: center">
          <div class = "fontID4">
            <i><span>M.A.D</span></i>
          </div>
        </div>
        <img class="avatar2" src="img//mad.png">
        <div class="row">
          <div class = "fontID4" style="text-align: center">
            <b><span>January- June, 2017</span></b>
          </div>
        </div>

      </div>
    </div> 
  </ion-content>
</ion-view>
