<ion-view view-title="Jewelry + Wearables">
  <ion-header-bar>
  </ion-header-bar>
  <ion-content>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-one.jpg">
		<div class="fontID col col-100">
			<i>Jewelry</i>
		</div>
      </div>
    </div>
	
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-two.jpg">
		<div class="fontID col col-100">
			<i>Fiber+Leather</i>
		</div>
      </div>
    </div>
  </ion-content>
</ion-view>
