<ion-view  view-title="Mark Miller">
  <ion-header-bar>  
  
  </div>
  </ion-header-bar>
	<ion-content>
		<img class = "avatar2" src = "/img/artist-two.jpg">  
		
		<p class = "fontID">Mark Miller is an accomplished artist from Winston-Salem, North Carolina who had gotten his Bachelors of Arts at UNCG in 2009.
		His more known works, such as "The Rise of the High Tide," involve a blend of various colors that illustrate a bunch his mastery of using warm colors while incorporating acrylic with the ocasionl pastel crayon.</p>
	</ion-content>
</ion-view>