<ion-view view-title="artLover101">
  <ion-content>
    <div class="bar  custom-blue" style="height:26%;">
      <div style="width: 45%; float:left" >
        <img class="avatar" src="../img/Amy_Jones.jpeg">
      </div>
      <div id= "usernameFonts" style="width: 55%; float:right">
        <br><b>Amy Jones</b></br>
        <br><b>Posts:</b> 5</br>
        <br><b>Likes:</b> 20</br>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row fontID" >
      <div  class= " fontID col col-100" >
        <div class="row">
          <div  class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="../img/photo-one.jpg">
        <div class="row fontID">
          <div class="col col-30">
            <button class="button button-small button-clear ">
              <i class=" fontID2 ion-thumbsup"></i><i class="fontID"> 5</i>
            </button>
            <button class="button button-small button-clear" >
             <i class="fontID2 ion-chatbubble-working"></i>
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button button-small button-clear ">
              <i class="fontID2 ion-ios-trash"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>This art is amazing.</span>
          </div>
        </div>

      </div>
    </div>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <div class="row">
          <div  class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="../img/photo-two.jpg">
        <div class="row fontID">
          <div class="col col-30">
            <button class="button button-small button-clear ">
              <i class=" fontID2 ion-thumbsup"></i><i class="fontID"> 3</i>
            </button>
            <button class="button button-small button-clear" >
              <i class="fontID2 ion-chatbubble-working"></i>
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button button-small button-clear ">
              <i class="fontID2 ion-ios-trash"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>I wish I could paint this well!</span>
          </div>
        </div>

      </div>
    </div>
	<div class="row fontID" >
      <div class= "row fontID col col-100" >
        <div class="row fontID">
          <div class="col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="../img/photo-three.jpg">
        <div class="row fontID">
          <div class="col col-30">
            <button class="button button-small button-clear ">
              <i class=" fontID2 ion-thumbsup"></i><i class="fontID"> 7</i>
            </button>
            <button class="button button-small button-clear" >
              <i class="fontID2 ion-chatbubble-working"></i>
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button button-small button-clear ">
              <i class="fontID2 ion-ios-trash"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>Look at this awesome art at the Greenhill Art Gallery!!!</span>
          </div>
        </div>

      </div>
    </div>
	<div class="row fontID" >
      <div class= " fontID col col-100" >
        <div class="row">
          <div class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="../img/photo-four.jpg">
        <div class="row fontID">
          <div class="col col-30">
            <button class="button button-small button-clear ">
              <i class=" fontID2 ion-thumbsup"></i><i class="fontID"> 2</i>
            </button>
            <button class="button button-small button-clear" >
              <i class="fontID2 ion-chatbubble-working"></i>
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button button-small button-clear ">
              <i class="fontID2 ion-ios-trash"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>So talented!</span>
          </div>
        </div>

      </div>
    </div>
	<div class="row fontID" >
      <div class= "row fontID col col-100" >
        <div class="row">
          <div class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="../img/photo-five.jpg">
        <div class="row fontID">
          <div class="col col-30">
            <button class="button button-small button-clear ">
              <i class=" fontID2 ion-thumbsup"></i><i class="fontID"> 3</i>
            </button>
            <button class="button button-small button-clear" >
              <i class="fontID2 ion-chatbubble-working"></i>
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button button-small button-clear ">
              <i class="fontID2 ion-ios-trash"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>Artists have so much talent!</span>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
