<ion-modal-view>
  <ion-content>
    <div class="bar  custom-blue" style="height:26%;">
      <div style="width: 45%; float:left" >
        <img class="avatar" src="/img/AmyJones.jpeg">
      </div>
      <div id= "usernameFonts" style="width: 55%; float:right">
        <br><b>Amy Jones</b></br>
        <br><b>Posts:</b> 5</br>
        <br><b>Likes:</b> 20</br>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id= " " class="row fontID" ><!--ng-repeat="photo in userPhotos | orderBy: '-ID'"-->
      <div id= "" class= " fontID col col-100" >
        <div class="row">
          <div id= "" class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="/img/photo-one.jpg">
        <div id= "fontID" class="row">
          <div class="col col-30">
            <button class="button button-small button-clear">
              <img src="/img/clicked.png"> 5
            </button>
            <button class="button button-small button-clear"  ui-sref="">
              <img src="/img/comments.png">
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button-clear">DELETE</button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>This art is amazing.</span>
          </div>
        </div>

      </div>
    </div> 
	<div id= " " class="row fontID" ><!--ng-repeat="photo in userPhotos | orderBy: '-ID'"-->
      <div id= "" class= " fontID col col-100" >
        <div class="row">
          <div id= "" class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="/img/photo-one.jpg">
        <div id= "fontID" class="row">
          <div class="col col-30">
            <button class="button button-small button-clear">
              <img src="/img/clicked.png">
            </button>
            <button class="button button-small button-clear"  ui-sref="">
              <img src="/img/comments.png">
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button-clear">DELETE</button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>I wish I could paint this well!</span>
          </div>
        </div>

      </div>
    </div> 
	<div id= " " class="row fontID" ><!--ng-repeat="photo in userPhotos | orderBy: '-ID'"-->
      <div id= "" class= " fontID col col-100" >
        <div class="row">
          <div id= "" class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="/img/photo-one.jpg">
        <div id= "fontID" class="row">
          <div class="col col-30">
            <button class="button button-small button-clear">
              <img src="/img/clicked.png">
            </button>
            <button class="button button-small button-clear"  ui-sref="">
              <img src="/img/comments.png">
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button-clear">DELETE</button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>Look at this awesome art at the Greenhill Art Gallery!!!</span>
          </div>
        </div>

      </div>
    </div> 
	<div id= " " class="row fontID" ><!--ng-repeat="photo in userPhotos | orderBy: '-ID'"-->
      <div id= "" class= " fontID col col-100" >
        <div class="row">
          <div id= "" class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="/img/photo-one.jpg">
        <div id= "fontID" class="row">
          <div class="col col-30">
            <button class="button button-small button-clear">
              <img src="/img/clicked.png">
            </button>
            <button class="button button-small button-clear"  ui-sref="">
              <img src="/img/comments.png">
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button-clear">DELETE</button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>I wish I could paint this well!</span>
          </div>
        </div>

      </div>
    </div> 
	<div id= " " class="row fontID" ><!--ng-repeat="photo in userPhotos | orderBy: '-ID'"-->
      <div id= "" class= " fontID col col-100" >
        <div class="row">
          <div id= "" class="fontID col col-50">
            <i>artLover101</i>
          </div>
          <div class="col col-50 text-right">
            <i>February 5, 2016</i>
          </div>
        </div>
        <img class="avatar2" src="/img/photo-one.jpg">
        <div id= "fontID" class="row">
          <div class="col col-30">
            <button class="button button-small button-clear">
              <img src="/img/clicked.png">
            </button>
            <button class="button button-small button-clear"  ui-sref="">
              <img src="/img/comments.png">
            </button>
          </div>
          <div class="col col-20 text-right">
            <button class="button-clear">DELETE</button>
          </div>
        </div>
        <div class="row">
          <div>
            <span>Artists have so much talent!</span>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-modal-view>
