<ion-view view-title="Scavenger Hunt">   
	<ion-header-bar class="bar-energized">  
	<div>   
	<br>
		
	</div>
	</ion-header-bar>
  <ion-content>  
  <br>  
	<h1 class = "scavengerText">Welcome to the Greenhill Center's Scavenger Hunt!</h1> 
	<h1 class = "scavengerText">Can you find these pictures in the Art Center?</h1>  
  <br> 
	<div class = "column fontID">  
		<img class="artPiece3" src="img//art-eight.jpg"> 
			<button class="button button-big">		
			<i class="check ion-checkmark-circled"></i>
	</div> 
	<div class = "column fontID"> 
		<img class = "artPiece3" src= "img//art-nine.jpg"> 
	</div> 
	<div class = "column fontID"> 
		<img class = "artPiece3" src= "img//art-five.jpg">  
			<button class="button button-big">		
			<i class="check ion-checkmark-circled"></i>
	</div> 
	<div class = "column fontID"> 
		<img class = "artPiece3" src= "img//art-eight.jpg">  
			<button class="button button-big">		
			<i class="check ion-checkmark-circled"></i>
	</div>  
	<div class = "column fontID"> 
		<img class = "artPiece3" src= "img//art-seven.jpg">  
			<button class="button button-big">		
			<i class="check ion-checkmark-circled"></i>
	</div>  
	<div class = "row fontID" align = "center">  
			<button class="button button-block custom-blue">Find the photos!</button>
	</div>
  </ion-content>
</ion-view>
