<ion-view view-title="4 of 5 Found">
	<ion-header-bar class="bar-energized">
	<div>
	<br>

	</div>
	</ion-header-bar>
  <ion-content>
  <br>
    <div style="text-align: center">
      <img class = "avatar2" style="width: 90%" src="img//greenhill.png">
	<h1 class = "fontID">Find these pieces of art for today's prize!</h1>
    </div>
  <br>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img//art-eight.jpg">
		</div>
	</div>
	<div align = "center">
			<button class="button button-big">
			<i class="check ion-checkmark-circled"></i>
	</div>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img//art-nine.jpg">
		</div>
	</div>
	<div align = "center">
			<button class="button button-big">
			<i class="xMark ion-close-circled"></i>
	</div>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img//art-five.jpg">
		</div>
	</div>
	<div align = "center">
			<button class="button button-big">
			<i class="check ion-checkmark-circled"></i>
	</div>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img//art-ten.jpg">
		</div>
	</div>
	<div align = "center">
			<button class="button button-big">
			<i class="check ion-checkmark-circled"></i>
	</div>
	<div class = "row fontID" align = "center">
		<div>
			<img class = "avatar2" src= "img//art-seven.jpg">
		</div>
	</div>
	<div align = "center">
			<button class="button button-big">
			<i class="check ion-checkmark-circled"></i>
	</div>
	<div class = "row fontID" align = "center">
			<button ng-click="scanBarcode()" class="button button-block custom-blue">Scan Code</button>
	</div>
  </ion-content>
</ion-view>
