<ion-view  view-title="Settings">
	<ion-content>
    <div id= "" class="list" >
      <a class="item item-icon-right custom-blue" href="#" >
        Edit Profile
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#" >
        Change Password
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#" >
        Liked Pictures
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#" >
        Report A Problem
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#" >
        Terms
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#" >
        Privacy Policy
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#" >
        Log Out
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#">
        Reset Account
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right custom-blue" href="#" >
        Delete Account
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>
	</ion-content>
</ion-view>
