<ion-view view-title="The Shop">
  <ion-header-bar>
  </ion-header-bar>
  <ion-content>

    <div ng-repeat="category in categories" class= " fontID col col-100"
         >
      <img ng-click="clickedCategory('{{category}}')"  ui-sref="app.category" class="avatar2" src="{{category.url}}">
      <div class="fontID col col-100">
        <i>{{category.title}}</i>
      </div>


</div>




	<!--<div class="row fontID" >

      </div>
      <div class= " fontID col col-100">
		<img class="artPiece" src="/img/art-two.jpg" align="right">
		<div class="fontID col col-100">
			<i>Two Dimensional</i>
		</div>
      </div>
    </div>

	<div class="row fontID">
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-three.jpg">
		<div class="fontID col col-100">
			<i>Objects</i>
		</div>
      </div>
      <div class= " fontID col col-100">
		<img class="artPiece" src="/img/art-four.jpg" align="right">
		<div class="fontID col col-100">
			<i>Books + Paper</i>
		</div>
      </div>
    </div>

	<div class="row fontID">
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-five.jpg">
		<div class="fontID col col-100">
			<i>Honor Card</i>
		</div>
      </div>
      <div class= " fontID col col-100">
		<img class="artPiece" src="/img/art-six.jpg" align="right">
		<div class="fontID col col-100">
			<i>Gifts Under $50</i>
		</div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
