<ion-view view-title="The Shop">
  <ion-header-bar>
  </ion-header-bar>
  <ion-content>
    <div class= " row fontID col col-100">
      <img  class="avatar2" src="img//the-shop.jpg">
    </div>
    <div class= " row fontID col col-100">
      <div  class = "fontID4" style="text-align: center">
        <b>Jewelry + Wearables</b>
      </div>
      <img  class="avatar2" src="img//theshop/wearable-cover.jpg">
    </div>
    <div class= " row fontID col col-100">
      <div  class = "fontID4" style="text-align: center">
        <b>2-Dimensional</b>
      </div>
      <img  class="avatar2" src="img//theshop/2d-maincover.jpg">
    </div>
    <div class= " row fontID col col-100">
      <div  class = "fontID4" style="text-align: center">
        <b>Objects</b>
      </div>
      <img  class="avatar2" src="img//theshop/objects-claycover.jpg">
    </div>
    <div class= " row fontID col col-100">
      <div  class = "fontID4" style="text-align: center">
        <b>Books + Paper</b>
      </div>
      <img  class="avatar2" src="img//theshop/Books&paper-maincover.jpg">
    </div>




	<!--<div class="row fontID" >

      </div>
      <div class= " fontID col col-100">
		<img class="artPiece" src="/img/art-two.jpg" align="right">
		<div class="fontID col col-100">
			<i>Two Dimensional</i>
		</div>
      </div>
    </div>

	<div class="row fontID">
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-three.jpg">
		<div class="fontID col col-100">
			<i>Objects</i>
		</div>
      </div>
      <div class= " fontID col col-100">
		<img class="artPiece" src="/img/art-four.jpg" align="right">
		<div class="fontID col col-100">
			<i>Books + Paper</i>
		</div>
      </div>
    </div>

	<div class="row fontID">
      <div class= " fontID col col-100" >
        <img class="artPiece" src="/img/art-five.jpg">
		<div class="fontID col col-100">
			<i>Honor Card</i>
		</div>
      </div>
      <div class= " fontID col col-100">
		<img class="artPiece" src="/img/art-six.jpg" align="right">
		<div class="fontID col col-100">
			<i>Gifts Under $50</i>
		</div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
