/* Empty. Add your own CSS if you like */
.avatar {
  width:100px;
  margin: 5px;
  border:5px none;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
}
.avatar1 {
  width:50px;
  margin: 5px;
  border:7px none;
  border-radius: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}
.avatar2{
  width:100%;

}
.avatar3{
  width:100px;
}
.avatar4{
width:100%;
height:200px;

}

.avatar5{
	width: 100px;
	height: 30px;
	position: relative;
	top: -25px;
}

 .check{
	color: #01DF01;
}
.xMark{
	color: #B40404;
}
.map{
  width: 1000px;
  height: 600px;
}
.login{
  background: url("../img/parrot.png") no-repeat center center fixed ;
  background-size: cover;
}
.artBuy{
  background: url("../img/cart-image.jpg") no-repeat center center fixed ;
  background-size: cover;
}
.bc{
  background: rgb(0, 122, 195); no-repeat center center fixed ;
  background-size: cover;
}

.fontID{
  font-family: Verdana;
  color:#2D5368;
}
.fontID2 {
  font-size:20px ;
  color:#2D5368;
}
.fontID3 {
	font-family: Verdana;
	color:#2D5368;
	position: relative;
}
.fontID4 {
  font-family: Verdana;
  color:#2D5368;
  text-align: center;
  margin: 0 auto;
}

#usernameFont{
  font-family: Verdana;
  color: white;
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}
.custom-blue{
  color : white !important;
  background-color:#2D5368 !important;
}
.custom-green{
  color : white !important;
  background-color:#2EFE64 !important;
}
.liked-icon{
  background: url("../img/clicked.png") no-repeat;
}

.unliked-icon{
  background: url("../img/notclicked.png") no-repeat;
}

.artPiece{
	width: 100%;
	height: 120px;
}

.artPiece2{
	width: 50%;
	position: relative;
	top: -100px;
}
.artPiece3{
	width: 50%;
	height: 100px;
}

.artPiec6{
	/*for Events page*/
	width: 40%;
	height: auto;
}

.item{
  background-color: white !important;
  color : #2D5368 !important;
}

.color2 {
  color : #2D5368 !important;
}
.custom-bluebar{
  color : white !important;
  background-color: rgba(45, 83, 104, 0.5) !important;
}
.setPieceLeft{
border: 5px double white;
width: 50%;
margin-right: 10px;
margin-left: 5%;
margin-bottom: 10px;
padding-bottom: 75%;
}
.setPieceRight{
border: 5px double white;
width: 50%;
height: 50%;
position: relative;
margin-right: 5%;
padding-top: 25%;
padding-bottom: 50%;
margin-bottom: 10px;
}
.img1{
	background-repeat: no-repeat;
	background-size: cover;
}
.img2{
	background-image: url("/img/drawPad.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
.img3{
	background-image: url("/img/artquest2.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.img4{
	background-image: url("/img/artquest1.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.scavengerText{
font-family: Verdana;
font-size: 100%;
color: black;
}
.cartDisplay{
border: 5px solid green;
font-family: Trebuchet MS;
font-size: 300%;
color: #610B38;
}
.cartBack{
  background-color: #58ACFA!important;
}
.cartLine{
  background-color: #A9F5F2!important;
  font-family: Verdana;
}
.home-page {
  width: 70%;
  margin: 0 auto;
}
.kidsStuff img{
 height: 260px;
  width: 47%;
  border: 5px double white;
  margin: 5px 5px 5px 5px;
  padding-top: 0%;
  padding-bottom: 0%;
}
.kidsStuff {
  margin: 0 auto;
}
